Repository suprachakra/AeroFusionXR, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aerofusionxr/tech-leads, @aerofusionxr/senior-engineers, @aerofusionxr/documentation-team, @aerofusionxr/devops-team, @aerofusionxr/frontend-team, @aerofusionxr/infrastructure-team, @aerofusionxr/product-team, @aerofusionxr/security-team, @aerofusionxr/qa-team, @aerofusionxr/performance-team, @aerofusionxr/backend-team, @aerofusionxr/ai-team, @aerofusionxr/ml-team, @aerofusionxr/data-team, @aerofusionxr/business-team, @aerofusionxr/mobile-team, @aerofusionxr/ux-team, @aerofusionxr/ios-team, @aerofusionxr/android-team, @aerofusionxr/kiosk-team, @aerofusionxr/xr-team, @aerofusionxr/ar-team, @aerofusionxr/compliance-team, @aerofusionxr/design-team, @aerofusionxr/analytics-team, @aerofusionxr/i18n-team

Delete governance/lineage/data-lineage-framework.md.backup
  governance/lineage/data-lineage-framework.md.backup
Owners: @aerofusionxr/tech-leads, @aerofusionxr/senior-engineers

Delete governance/maturity-model/governance-maturity-framework.md.backup
  governance/maturity-model/governance-maturity-framework.md.backup
Owners: @aerofusionxr/tech-leads, @aerofusionxr/senior-engineers

Update ai-governance-policy.md
  governance/policies/ai-governance-policy.md
Owners: @aerofusionxr/tech-leads, @aerofusionxr/senior-engineers

Update governance-committee-charter.md
  governance/roles/governance-committee-charter.md
Owners: @aerofusionxr/tech-leads, @aerofusionxr/senior-engineers

Update README.md
  governance/README.md
Owners: @aerofusionxr/tech-leads, @aerofusionxr/senior-engineers

Update 02_Epics_and_Alignment.md
  docs/Technical/02_Epics_and_Alignment.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update 03_Requirements_FRs_NFRs.md
  docs/Technical/03_Requirements_FRs_NFRs.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update 04_Traceability Matrix.md
  docs/Technical/04_Traceability Matrix.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update 03_OKRs_and_Failure_Scenarios.md
  docs/Strategy/03_OKRs_and_Failure_Scenarios.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update 05_Roadmap_and_Milestones.md
  docs/Strategy/05_Roadmap_and_Milestones.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update 04_Product_and_Market_Strategy.md
  docs/Strategy/04_Product_and_Market_Strategy.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update 01_Overview.md
  docs/Technical/01_Tech_Architecture/01_Overview.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update 01_Overview.md
  docs/Technical/01_Tech_Architecture/01_Overview.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update 01_Overview.md
  docs/Technical/01_Tech_Architecture/01_Overview.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Create readme.md
  tests/readme.md
Owners: @aerofusionxr/qa-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  governance/README.md
Owners: @aerofusionxr/tech-leads, @aerofusionxr/senior-engineers

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

.github/CODEOWNERS:

# üë• AeroFusionXR Code Owners
# =================================
# 
# This file defines who owns different parts of the codebase and
# who should be automatically requested for reviews when changes are made.
#
# Order is important! The last matching pattern takes precedence.

# üåê Global Owners (fallback for everything)
* @aerofusionxr/tech-leads @aerofusionxr/senior-engineers

# üìÅ Root Configuration Files
/*.md @aerofusionxr/tech-leads @aerofusionxr/documentation-team
/*.json @aerofusionxr/tech-leads @aerofusionxr/devops-team
/*.yaml @aerofusionxr/tech-leads @aerofusionxr/devops-team
/*.yml @aerofusionxr/tech-leads @aerofusionxr/devops-team
/package.json @aerofusionxr/tech-leads @aerofusionxr/frontend-team
/docker-compose*.yml @aerofusionxr/devops-team @aerofusionxr/infrastructure-team

# üîß GitHub Configuration
/.github/ @aerofusionxr/tech-leads @aerofusionxr/devops-team
/.github/workflows/ @aerofusionxr/devops-team @aerofusionxr/infrastructure-team
/.github/ISSUE_TEMPLATE/ @aerofusionxr/tech-leads @aerofusionxr/product-team
/.github/pull_request_template.md @aerofusionxr/tech-leads
/.github/SECURITY.md @aerofusionxr/security-team @aerofusionxr/tech-leads

# ‚öôÔ∏è Configuration & Infrastructure
/config/ @aerofusionxr/devops-team @aerofusionxr/infrastructure-team @aerofusionxr/tech-leads
/infrastructure/ @aerofusionxr/infrastructure-team @aerofusionxr/devops-team
/scripts/ @aerofusionxr/devops-team @aerofusionxr/infrastructure-team
/env.example @aerofusionxr/devops-team @aerofusionxr/tech-leads

# üß™ Testing & Quality Assurance
/tests/ @aerofusionxr/qa-team @aerofusionxr/tech-leads
/tests/performance/ @aerofusionxr/qa-team @aerofusionxr/performance-team
/tests/security/ @aerofusionxr/security-team @aerofusionxr/qa-team
/tests/e2e/ @aerofusionxr/qa-team @aerofusionxr/frontend-team
/jest.config.js @aerofusionxr/qa-team @aerofusionxr/tech-leads
/playwright.config.ts @aerofusionxr/qa-team @aerofusionxr/frontend-team

# üéØ Services (Backend)
/services/ @aerofusionxr/backend-team @aerofusionxr/tech-leads

# API Gateway
/services/api-gateway/ @aerofusionxr/backend-team @aerofusionxr/infrastructure-team @aerofusionxr/tech-leads

# AI & ML Services
/services/ai-concierge/ @aerofusionxr/ai-team @aerofusionxr/ml-team @aerofusionxr/tech-leads
/services/model-registry/ @aerofusionxr/ml-team @aerofusionxr/data-team @aerofusionxr/tech-leads
/services/feature-store/ @aerofusionxr/ml-team @aerofusionxr/data-team @aerofusionxr/tech-leads

# Data Services
/services/baggage-tracker/ @aerofusionxr/backend-team @aerofusionxr/ai-team @aerofusionxr/tech-leads
/services/flight-info/ @aerofusionxr/backend-team @aerofusionxr/data-team @aerofusionxr/tech-leads

# Business Services
/services/booking/ @aerofusionxr/backend-team @aerofusionxr/business-team @aerofusionxr/tech-leads
/services/commerce/ @aerofusionxr/backend-team @aerofusionxr/business-team @aerofusionxr/tech-leads
/services/wayfinding/ @aerofusionxr/backend-team @aerofusionxr/ai-team @aerofusionxr/tech-leads

# üì± Client Applications
/clients/ @aerofusionxr/frontend-team @aerofusionxr/mobile-team @aerofusionxr/tech-leads

# Web Client
/clients/web/ @aerofusionxr/frontend-team @aerofusionxr/ux-team @aerofusionxr/tech-leads
/clients/web/src/components/ @aerofusionxr/frontend-team @aerofusionxr/ux-team
/clients/web/src/pages/ @aerofusionxr/frontend-team @aerofusionxr/ux-team
/clients/web/src/hooks/ @aerofusionxr/frontend-team @aerofusionxr/tech-leads
/clients/web/src/utils/ @aerofusionxr/frontend-team @aerofusionxr/tech-leads

# Mobile Client
/clients/mobile/ @aerofusionxr/mobile-team @aerofusionxr/ux-team @aerofusionxr/tech-leads
/clients/mobile/ios/ @aerofusionxr/mobile-team @aerofusionxr/ios-team
/clients/mobile/android/ @aerofusionxr/mobile-team @aerofusionxr/android-team

# Kiosk Client
/clients/kiosk/ @aerofusionxr/frontend-team @aerofusionxr/kiosk-team @aerofusionxr/tech-leads

# XR Clients
/clients/xr/ @aerofusionxr/xr-team @aerofusionxr/ar-team @aerofusionxr/tech-leads
/clients/ar-app/ @aerofusionxr/ar-team @aerofusionxr/mobile-team @aerofusionxr/tech-leads

# üìä Documentation
/docs/ @aerofusionxr/documentation-team @aerofusionxr/tech-leads
/docs/api/ @aerofusionxr/backend-team @aerofusionxr/documentation-team
/docs/architecture/ @aerofusionxr/tech-leads @aerofusionxr/documentation-team
/docs/deployment/ @aerofusionxr/devops-team @aerofusionxr/documentation-team
/README.md @aerofusionxr/documentation-team @aerofusionxr/tech-leads

# üîí Security & Compliance
/security/ @aerofusionxr/security-team @aerofusionxr/tech-leads
/compliance/ @aerofusionxr/compliance-team @aerofusionxr/security-team
/SECURITY.md @aerofusionxr/security-team @aerofusionxr/tech-leads

# üì¶ Database & Migrations
/database/ @aerofusionxr/data-team @aerofusionxr/backend-team @aerofusionxr/tech-leads
/migrations/ @aerofusionxr/data-team @aerofusionxr/backend-team @aerofusionxr/tech-leads
/seeds/ @aerofusionxr/data-team @aerofusionxr/backend-team

# üé® Design & Assets
/assets/ @aerofusionxr/design-team @aerofusionxr/ux-team
/public/ @aerofusionxr/frontend-team @aerofusionxr/design-team
/static/ @aerofusionxr/frontend-team @aerofusionxr/design-team

# üõ†Ô∏è Development Tools
/.vscode/ @aerofusionxr/tech-leads
/.eslintrc* @aerofusionxr/frontend-team @aerofusionxr/tech-leads
/.prettierrc* @aerofusionxr/frontend-team @aerofusionxr/tech-leads
/tsconfig*.json @aerofusionxr/frontend-team @aerofusionxr/mobile-team @aerofusionxr/tech-leads
/babel.config.js @aerofusionxr/frontend-team @aerofusionxr/mobile-team
/webpack.config.js @aerofusionxr/frontend-team @aerofusionxr/devops-team
/vite.config.ts @aerofusionxr/frontend-team @aerofusionxr/devops-team

# üöÄ Deployment & Release
/Dockerfile* @aerofusionxr/devops-team @aerofusionxr/infrastructure-team
/kubernetes/ @aerofusionxr/infrastructure-team @aerofusionxr/devops-team
/helm/ @aerofusionxr/infrastructure-team @aerofusionxr/devops-team
/terraform/ @aerofusionxr/infrastructure-team @aerofusionxr/devops-team
/CHANGELOG.md @aerofusionxr/tech-leads @aerofusionxr/product-team

# üìà Monitoring & Analytics
/monitoring/ @aerofusionxr/devops-team @aerofusionxr/data-team
/analytics/ @aerofusionxr/data-team @aerofusionxr/analytics-team

# üåç Internationalization
/locales/ @aerofusionxr/i18n-team @aerofusionxr/frontend-team
/translations/ @aerofusionxr/i18n-team @aerofusionxr/frontend-team
