Repository suprachakra/AeroFusionXR, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aerofusionxr/tech-leads, @aerofusionxr/senior-engineers, @aerofusionxr/documentation-team, @aerofusionxr/devops-team, @aerofusionxr/frontend-team, @aerofusionxr/infrastructure-team, @aerofusionxr/product-team, @aerofusionxr/security-team, @aerofusionxr/qa-team, @aerofusionxr/performance-team, @aerofusionxr/backend-team, @aerofusionxr/ai-team, @aerofusionxr/ml-team, @aerofusionxr/data-team, @aerofusionxr/business-team, @aerofusionxr/mobile-team, @aerofusionxr/ux-team, @aerofusionxr/ios-team, @aerofusionxr/android-team, @aerofusionxr/kiosk-team, @aerofusionxr/xr-team, @aerofusionxr/ar-team, @aerofusionxr/compliance-team, @aerofusionxr/design-team, @aerofusionxr/analytics-team, @aerofusionxr/i18n-team

.github/CODEOWNERS:

# üë• AeroFusionXR Code Owners
# =================================
# 
# This file defines who owns different parts of the codebase and
# who should be automatically requested for reviews when changes are made.
#
# Order is important! The last matching pattern takes precedence.

# üåê Global Owners (fallback for everything)
* @aerofusionxr/tech-leads @aerofusionxr/senior-engineers

# üìÅ Root Configuration Files
/*.md @aerofusionxr/tech-leads @aerofusionxr/documentation-team
/*.json @aerofusionxr/tech-leads @aerofusionxr/devops-team
/*.yaml @aerofusionxr/tech-leads @aerofusionxr/devops-team
/*.yml @aerofusionxr/tech-leads @aerofusionxr/devops-team
/package.json @aerofusionxr/tech-leads @aerofusionxr/frontend-team
/docker-compose*.yml @aerofusionxr/devops-team @aerofusionxr/infrastructure-team

# üîß GitHub Configuration
/.github/ @aerofusionxr/tech-leads @aerofusionxr/devops-team
/.github/workflows/ @aerofusionxr/devops-team @aerofusionxr/infrastructure-team
/.github/ISSUE_TEMPLATE/ @aerofusionxr/tech-leads @aerofusionxr/product-team
/.github/pull_request_template.md @aerofusionxr/tech-leads
/.github/SECURITY.md @aerofusionxr/security-team @aerofusionxr/tech-leads

# ‚öôÔ∏è Configuration & Infrastructure
/config/ @aerofusionxr/devops-team @aerofusionxr/infrastructure-team @aerofusionxr/tech-leads
/infrastructure/ @aerofusionxr/infrastructure-team @aerofusionxr/devops-team
/scripts/ @aerofusionxr/devops-team @aerofusionxr/infrastructure-team
/env.example @aerofusionxr/devops-team @aerofusionxr/tech-leads

# üß™ Testing & Quality Assurance
/tests/ @aerofusionxr/qa-team @aerofusionxr/tech-leads
/tests/performance/ @aerofusionxr/qa-team @aerofusionxr/performance-team
/tests/security/ @aerofusionxr/security-team @aerofusionxr/qa-team
/tests/e2e/ @aerofusionxr/qa-team @aerofusionxr/frontend-team
/jest.config.js @aerofusionxr/qa-team @aerofusionxr/tech-leads
/playwright.config.ts @aerofusionxr/qa-team @aerofusionxr/frontend-team

# üéØ Services (Backend)
/services/ @aerofusionxr/backend-team @aerofusionxr/tech-leads

# API Gateway
/services/api-gateway/ @aerofusionxr/backend-team @aerofusionxr/infrastructure-team @aerofusionxr/tech-leads

# AI & ML Services
/services/ai-concierge/ @aerofusionxr/ai-team @aerofusionxr/ml-team @aerofusionxr/tech-leads
/services/model-registry/ @aerofusionxr/ml-team @aerofusionxr/data-team @aerofusionxr/tech-leads
/services/feature-store/ @aerofusionxr/ml-team @aerofusionxr/data-team @aerofusionxr/tech-leads

# Data Services
/services/baggage-tracker/ @aerofusionxr/backend-team @aerofusionxr/ai-team @aerofusionxr/tech-leads
/services/flight-info/ @aerofusionxr/backend-team @aerofusionxr/data-team @aerofusionxr/tech-leads

# Business Services
/services/booking/ @aerofusionxr/backend-team @aerofusionxr/business-team @aerofusionxr/tech-leads
/services/commerce/ @aerofusionxr/backend-team @aerofusionxr/business-team @aerofusionxr/tech-leads
/services/wayfinding/ @aerofusionxr/backend-team @aerofusionxr/ai-team @aerofusionxr/tech-leads

# üì± Client Applications
/clients/ @aerofusionxr/frontend-team @aerofusionxr/mobile-team @aerofusionxr/tech-leads

# Web Client
/clients/web/ @aerofusionxr/frontend-team @aerofusionxr/ux-team @aerofusionxr/tech-leads
/clients/web/src/components/ @aerofusionxr/frontend-team @aerofusionxr/ux-team
/clients/web/src/pages/ @aerofusionxr/frontend-team @aerofusionxr/ux-team
/clients/web/src/hooks/ @aerofusionxr/frontend-team @aerofusionxr/tech-leads
/clients/web/src/utils/ @aerofusionxr/frontend-team @aerofusionxr/tech-leads

# Mobile Client
/clients/mobile/ @aerofusionxr/mobile-team @aerofusionxr/ux-team @aerofusionxr/tech-leads
/clients/mobile/ios/ @aerofusionxr/mobile-team @aerofusionxr/ios-team
/clients/mobile/android/ @aerofusionxr/mobile-team @aerofusionxr/android-team

# Kiosk Client
/clients/kiosk/ @aerofusionxr/frontend-team @aerofusionxr/kiosk-team @aerofusionxr/tech-leads

# XR Clients
/clients/xr/ @aerofusionxr/xr-team @aerofusionxr/ar-team @aerofusionxr/tech-leads
/clients/ar-app/ @aerofusionxr/ar-team @aerofusionxr/mobile-team @aerofusionxr/tech-leads

# üìä Documentation
/docs/ @aerofusionxr/documentation-team @aerofusionxr/tech-leads
/docs/api/ @aerofusionxr/backend-team @aerofusionxr/documentation-team
/docs/architecture/ @aerofusionxr/tech-leads @aerofusionxr/documentation-team
/docs/deployment/ @aerofusionxr/devops-team @aerofusionxr/documentation-team
/README.md @aerofusionxr/documentation-team @aerofusionxr/tech-leads

# üîí Security & Compliance
/security/ @aerofusionxr/security-team @aerofusionxr/tech-leads
/compliance/ @aerofusionxr/compliance-team @aerofusionxr/security-team
/SECURITY.md @aerofusionxr/security-team @aerofusionxr/tech-leads

# üì¶ Database & Migrations
/database/ @aerofusionxr/data-team @aerofusionxr/backend-team @aerofusionxr/tech-leads
/migrations/ @aerofusionxr/data-team @aerofusionxr/backend-team @aerofusionxr/tech-leads
/seeds/ @aerofusionxr/data-team @aerofusionxr/backend-team

# üé® Design & Assets
/assets/ @aerofusionxr/design-team @aerofusionxr/ux-team
/public/ @aerofusionxr/frontend-team @aerofusionxr/design-team
/static/ @aerofusionxr/frontend-team @aerofusionxr/design-team

# üõ†Ô∏è Development Tools
/.vscode/ @aerofusionxr/tech-leads
/.eslintrc* @aerofusionxr/frontend-team @aerofusionxr/tech-leads
/.prettierrc* @aerofusionxr/frontend-team @aerofusionxr/tech-leads
/tsconfig*.json @aerofusionxr/frontend-team @aerofusionxr/mobile-team @aerofusionxr/tech-leads
/babel.config.js @aerofusionxr/frontend-team @aerofusionxr/mobile-team
/webpack.config.js @aerofusionxr/frontend-team @aerofusionxr/devops-team
/vite.config.ts @aerofusionxr/frontend-team @aerofusionxr/devops-team

# üöÄ Deployment & Release
/Dockerfile* @aerofusionxr/devops-team @aerofusionxr/infrastructure-team
/kubernetes/ @aerofusionxr/infrastructure-team @aerofusionxr/devops-team
/helm/ @aerofusionxr/infrastructure-team @aerofusionxr/devops-team
/terraform/ @aerofusionxr/infrastructure-team @aerofusionxr/devops-team
/CHANGELOG.md @aerofusionxr/tech-leads @aerofusionxr/product-team

# üìà Monitoring & Analytics
/monitoring/ @aerofusionxr/devops-team @aerofusionxr/data-team
/analytics/ @aerofusionxr/data-team @aerofusionxr/analytics-team

# üåç Internationalization
/locales/ @aerofusionxr/i18n-team @aerofusionxr/frontend-team
/translations/ @aerofusionxr/i18n-team @aerofusionxr/frontend-team

Delete .github/workflows/CODEOWNERS
  .github/workflows/CODEOWNERS
Owners: @aerofusionxr/devops-team, @aerofusionxr/infrastructure-team

Delete .github/workflows/CONTRIBUTING.md
  .github/workflows/CONTRIBUTING.md
Owners: @aerofusionxr/devops-team, @aerofusionxr/infrastructure-team

Delete .github/workflows/SECURITY.md
  .github/workflows/SECURITY.md
Owners: @aerofusionxr/devops-team, @aerofusionxr/infrastructure-team

Delete .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Owners: @aerofusionxr/devops-team, @aerofusionxr/infrastructure-team

Delete .github/workflows/pull_request_template.md
  .github/workflows/pull_request_template.md
Owners: @aerofusionxr/devops-team, @aerofusionxr/infrastructure-team

Add files via upload
  .github/workflows/ci-cd.yaml
  .github/workflows/release.yaml
Owners: @aerofusionxr/devops-team, @aerofusionxr/infrastructure-team

Create bug.md
  .github/ISSUE_TEMPLATE/bug.md
Owners: @aerofusionxr/tech-leads, @aerofusionxr/product-team

Add files via upload
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @aerofusionxr/tech-leads, @aerofusionxr/product-team

Delete .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug.md
Owners: @aerofusionxr/tech-leads, @aerofusionxr/product-team

Create main.tf
  clients/kiosk/main.tf
Owners: @aerofusionxr/frontend-team, @aerofusionxr/kiosk-team, @aerofusionxr/tech-leads

Create main.tf
  clients/mobile/main.tf
Owners: @aerofusionxr/mobile-team, @aerofusionxr/ux-team, @aerofusionxr/tech-leads

Create main.tf
  clients/xr/main.tf
Owners: @aerofusionxr/xr-team, @aerofusionxr/ar-team, @aerofusionxr/tech-leads

Create main.tf
  clients/web/main.tf
Owners: @aerofusionxr/frontend-team, @aerofusionxr/ux-team, @aerofusionxr/tech-leads

Create main.tf
  clients/shared/main.tf
Owners: @aerofusionxr/frontend-team, @aerofusionxr/mobile-team, @aerofusionxr/tech-leads

Add files via upload
  clients/kiosk/App.tsx
  clients/kiosk/package.json
Owners: @aerofusionxr/frontend-team, @aerofusionxr/kiosk-team, @aerofusionxr/tech-leads

Delete clients/kiosk/main.tf
  clients/kiosk/main.tf
Owners: @aerofusionxr/frontend-team, @aerofusionxr/kiosk-team, @aerofusionxr/tech-leads

Create re.md
  clients/kiosk/src/main/re.md
Owners: @aerofusionxr/frontend-team, @aerofusionxr/kiosk-team, @aerofusionxr/tech-leads

Add files via upload
  clients/kiosk/src/main/main.ts
Owners: @aerofusionxr/frontend-team, @aerofusionxr/kiosk-team, @aerofusionxr/tech-leads

Delete clients/kiosk/src/main/re.md
  clients/kiosk/src/main/re.md
Owners: @aerofusionxr/frontend-team, @aerofusionxr/kiosk-team, @aerofusionxr/tech-leads

Add files via upload
  clients/mobile/App.tsx
  clients/mobile/package.json
Owners: @aerofusionxr/mobile-team, @aerofusionxr/ux-team, @aerofusionxr/tech-leads

Create README.md
  clients/shared/components/README.md
Owners: @aerofusionxr/frontend-team, @aerofusionxr/mobile-team, @aerofusionxr/tech-leads

Add files via upload
  clients/shared/components/README.md
Owners: @aerofusionxr/frontend-team, @aerofusionxr/mobile-team, @aerofusionxr/tech-leads

Add files via upload
  clients/web/package.json
  clients/web/src/App.tsx
Owners: @aerofusionxr/frontend-team, @aerofusionxr/ux-team, @aerofusionxr/tech-leads

Delete clients/shared/main.tf
  clients/shared/main.tf
Owners: @aerofusionxr/frontend-team, @aerofusionxr/mobile-team, @aerofusionxr/tech-leads

Add files via upload
  clients/xr/Assets/Scripts/AeroFusionXRManager.cs
Owners: @aerofusionxr/xr-team, @aerofusionxr/ar-team, @aerofusionxr/tech-leads

Add files via upload
  tests/e2e/flight-booking.spec.ts
  tests/frameworks/e2e/playwright.config.js
  tests/frameworks/integration/testcontainers.config.js
  tests/frameworks/unit/jest.config.js
  tests/integration/commerce/jest.config.js
  tests/integration/commerce/jest.setup.ts
  tests/integration/commerce/package.json
  tests/integration/commerce/test_product_service.ts
  tests/integration/commerce/tsconfig.json
  tests/jest.config.js
  tests/performance/load-test.js
  tests/setup/jest.setup.js
Owners: @aerofusionxr/qa-team, @aerofusionxr/frontend-team, @aerofusionxr/tech-leads, @aerofusionxr/performance-team

Create otel-collector-config.yaml
  services/config/otel-collector-config.yaml
Owners: @aerofusionxr/backend-team, @aerofusionxr/tech-leads

Delete cloudformation directory
  cloudformation/templates/legacy_db_snapshot.yaml
Owners: @aerofusionxr/tech-leads, @aerofusionxr/senior-engineers

Delete k8s directory
  k8s/charts/ai-concierge/Chart.yaml
  k8s/charts/api-gateway/Chart.yaml
  k8s/charts/booking/Chart.yaml
  k8s/charts/wayfinding/Chart.yaml
  k8s/kustomization.yaml
  k8s/manifests/sample-deployment.yaml
Owners: @aerofusionxr/tech-leads, @aerofusionxr/senior-engineers

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Delete clients directory
  clients/kiosk/App.tsx
  clients/kiosk/package.json
  clients/kiosk/src/main/main.ts
  clients/mobile/App.tsx
  clients/mobile/main.tf
  clients/mobile/package.json
  clients/shared/components/README.md
  clients/web/main.tf
  clients/web/package.json
  clients/web/src/App.tsx
  clients/xr/Assets/Scripts/AeroFusionXRManager.cs
  clients/xr/main.tf
Owners: @aerofusionxr/frontend-team, @aerofusionxr/kiosk-team, @aerofusionxr/tech-leads, @aerofusionxr/mobile-team, @aerofusionxr/ux-team, @aerofusionxr/xr-team, @aerofusionxr/ar-team

Create test.tf
  clients/test.tf
Owners: @aerofusionxr/frontend-team, @aerofusionxr/mobile-team, @aerofusionxr/tech-leads

Add files via upload
  clients/README.md
  clients/kiosk/App.tsx
  clients/kiosk/package.json
  clients/kiosk/src/main/main.ts
  clients/mobile/App.tsx
  clients/mobile/android/app/src/main/java/com/aerofusionxr/MainActivity.java
  clients/mobile/huawei/app/src/main/java/com/aerofusionxr/HuaweiMainActivity.java
  clients/mobile/ios/AeroFusionXR/AppDelegate.swift
  clients/mobile/package.json
  clients/mobile/src/App.tsx
  clients/shared/components/README.md
  clients/shared/package.json
  clients/shared/src/index.ts
  clients/shared/src/types/aviation/flight.ts
  clients/web/package.json
  clients/web/src/App.tsx
  clients/xr/Assets/Scripts/AeroFusionXRManager.cs
  clients/xr/Assets/Scripts/Core/AeroFusionXRManager.cs
  clients/xr/Scripts/AeroFusionXRManager.cs
Owners: @aerofusionxr/frontend-team, @aerofusionxr/mobile-team, @aerofusionxr/tech-leads, @aerofusionxr/kiosk-team, @aerofusionxr/ux-team, @aerofusionxr/android-team, @aerofusionxr/ios-team, @aerofusionxr/xr-team, @aerofusionxr/ar-team

Delete clients/test.tf
  clients/test.tf
Owners: @aerofusionxr/frontend-team, @aerofusionxr/mobile-team, @aerofusionxr/tech-leads

Update README.md
  clients/README.md
Owners: @aerofusionxr/frontend-team, @aerofusionxr/mobile-team, @aerofusionxr/tech-leads

Create 01_Tech_Architecture.md
  docs/Technical/01_Tech_Architecture.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Rename docs/Technical/01_Tech_Architecture.md to docs/Technical/01_Tech_Architecture/01_Overview.md
  docs/Technical/01_Tech_Architecture/01_Overview.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Create 02_Module_Architecture_Deep_Dive.md
  docs/Technical/01_Tech_Architecture/02_Module_Architecture_Deep_Dive.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Create 03_Cross-Cutting_Concerns.md
  docs/Technical/01_Tech_Architecture/03_Cross-Cutting_Concerns.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Create 04_Deployment_&_Operations.md
  docs/Technical/01_Tech_Architecture/04_Deployment_&_Operations.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads
