Repository suprachakra/AeroFusionXR, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aerofusionxr/tech-leads, @aerofusionxr/senior-engineers, @aerofusionxr/documentation-team, @aerofusionxr/devops-team, @aerofusionxr/frontend-team, @aerofusionxr/infrastructure-team, @aerofusionxr/product-team, @aerofusionxr/security-team, @aerofusionxr/qa-team, @aerofusionxr/performance-team, @aerofusionxr/backend-team, @aerofusionxr/ai-team, @aerofusionxr/ml-team, @aerofusionxr/data-team, @aerofusionxr/business-team, @aerofusionxr/mobile-team, @aerofusionxr/ux-team, @aerofusionxr/ios-team, @aerofusionxr/android-team, @aerofusionxr/kiosk-team, @aerofusionxr/xr-team, @aerofusionxr/ar-team, @aerofusionxr/compliance-team, @aerofusionxr/design-team, @aerofusionxr/analytics-team, @aerofusionxr/i18n-team

Create 05_Risk_Management_&_Business_Continuity.md
  docs/Technical/01_Tech_Architecture/05_Risk_Management_&_Business_Continuity.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Create 06_Compliance_&_Governance.md
  docs/Technical/01_Tech_Architecture/06_Compliance_&_Governance.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Create 07_Performance_&_Scalability.md
  docs/Technical/01_Tech_Architecture/07_Performance_&_Scalability.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Create 08_Future_Roadmap_&_Evolution.md
  docs/Technical/01_Tech_Architecture/08_Future_Roadmap_&_Evolution.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Create 09_Appendix_System_Flow_Diagrams.md
  docs/Technical/01_Tech_Architecture/09_Appendix_System_Flow_Diagrams.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update 01_Overview.md
  docs/Technical/01_Tech_Architecture/01_Overview.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Update 01_Overview.md
  docs/Technical/01_Tech_Architecture/01_Overview.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Delete docs/Technical/01_Architecture.md
  docs/Technical/01_Architecture.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Add files via upload
  .eslintrc.js
  .prettierrc
  docker-compose.yml
  env.example
Owners: @aerofusionxr/frontend-team, @aerofusionxr/tech-leads, @aerofusionxr/devops-team, @aerofusionxr/infrastructure-team

Delete .env.example
  .env.example
Owners: @aerofusionxr/tech-leads, @aerofusionxr/senior-engineers

Update README.md
  README.md
Owners: @aerofusionxr/documentation-team, @aerofusionxr/tech-leads

Delete scripts directory
  scripts/dev-environment.sh
  scripts/health-check.sh
  scripts/init-infrastructure.sh
  scripts/local-dev.sh
  scripts/main.tf
Owners: @aerofusionxr/devops-team, @aerofusionxr/infrastructure-team

Add files via upload
  scripts/backup.sh
  scripts/cleanup-duplicates.ps1
  scripts/comprehensive-cleanup.ts
  scripts/dependency-validator.ts
  scripts/deploy.sh
  scripts/dev-environment.sh
  scripts/duplication-detector.ts
  scripts/health-check.sh
  scripts/init-infrastructure.sh
  scripts/load-test.sh
  scripts/local-dev.sh
  scripts/migrate-all-duplicates.sh
  scripts/security-scan.sh
Owners: @aerofusionxr/devops-team, @aerofusionxr/infrastructure-team

Add files via upload
  k8s/ai-concierge/deployment.yaml
  k8s/api-gateway/deployment.yaml
  k8s/configmap.yaml
  k8s/monitoring/grafana.yaml
  k8s/monitoring/prometheus.yaml
  k8s/namespace.yaml
  k8s/network-policies.yaml
  k8s/rbac.yaml
  k8s/secrets.yaml
  k8s/wayfinding-platform/deployment.yaml
Owners: @aerofusionxr/tech-leads, @aerofusionxr/senior-engineers

Add files via upload
  services/api-gateway/README.md
  services/notifications/README.md
  services/notifications/package.json
  services/notifications/src/core/NotificationService.ts
  services/notifications/src/providers/EmailProvider.ts
  services/notifications/src/providers/PushProvider.ts
  services/notifications/src/security/SecurityService.ts
  services/notifications/src/templates/NotificationTemplates.ts
  services/notifications/src/templates/TemplateEngine.ts
  services/notifications/src/utils/SecurityService.ts
  services/recommendations-engine/README.md
  services/recommendations-engine/package.json
  services/recommendations-engine/src/core/RecommendationEngine.ts
  services/recommendations-engine/src/core/RecommendationService.ts
  services/recommendations-engine/src/data/FeatureStoreService.ts
  services/recommendations-engine/src/ml/MLInferenceService.ts
  services/recommendations-engine/src/offers/OfferService.ts
  services/recommendations-engine/src/security/SecurityService.ts
Owners: @aerofusionxr/backend-team, @aerofusionxr/infrastructure-team, @aerofusionxr/tech-leads

Update README.md
  services/api-gateway/README.md
Owners: @aerofusionxr/backend-team, @aerofusionxr/infrastructure-team, @aerofusionxr/tech-leads

Delete services/ai-concierge directory
  services/ai-concierge/Dockerfile
  services/ai-concierge/app.py
  services/ai-concierge/handlers/multimodal_handler.py
  services/ai-concierge/main.py
  services/ai-concierge/openapi.yaml
  services/ai-concierge/pipelines/langchain_pipeline.py
  services/ai-concierge/pipelines/rerank_pipeline.py
  services/ai-concierge/requirements.txt
  services/ai-concierge/tests/integration/test_pipelines.py
  services/ai-concierge/tests/unit/test_handlers.py
Owners: @aerofusionxr/ai-team, @aerofusionxr/ml-team, @aerofusionxr/tech-leads

Update README.md
  services/ai-concierge/README.md
Owners: @aerofusionxr/ai-team, @aerofusionxr/ml-team, @aerofusionxr/tech-leads

Add files via upload
  services/customer-support/package.json
  services/customer-support/src/chatbot/ChatbotService.ts
Owners: @aerofusionxr/backend-team, @aerofusionxr/tech-leads

Create Readme.md
  services/core/Readme.md
Owners: @aerofusionxr/backend-team, @aerofusionxr/tech-leads

Add files via upload
  services/core/commerce/README.md
  services/core/commerce/ar-wayfinding/package.json
  services/core/commerce/ar-wayfinding/src/ARWayfindingService.ts
  services/core/commerce/ar-wayfinding/src/ar/ARVisualizationService.ts
  services/core/commerce/ar-wayfinding/src/core/WayfindingService.ts
  services/core/commerce/ar-wayfinding/src/mapping/MappingService.ts
  services/core/commerce/ar-wayfinding/src/pathfinding/PathfindingEngine.ts
  services/core/commerce/ar-wayfinding/src/positioning/PositioningService.ts
  services/core/commerce/ar-wayfinding/src/security/SecurityService.ts
  services/core/commerce/booking/package.json
  services/core/commerce/booking/src/index.ts
  services/core/commerce/booking/src/models/Booking.ts
  services/core/commerce/booking/src/models/Flight.ts
  services/core/commerce/booking/src/services/BookingService.ts
  services/core/commerce/booking/src/types/index.ts
  services/core/commerce/booking/src/utils/metrics.ts
  services/core/commerce/booking/src/utils/tracing.ts
  services/core/commerce/booking/tsconfig.json
  services/core/commerce/commerce/Dockerfile
  services/core/commerce/commerce/README.md
  services/core/commerce/commerce/k8s/deployment.yaml
  services/core/commerce/commerce/package.json
  services/core/commerce/commerce/src/features/catalog/CatalogFeature.ts
  services/core/commerce/commerce/src/features/payments/PaymentFeature.ts
  services/core/commerce/commerce/src/index.ts
  services/core/commerce/commerce/src/models/Cart.ts
  services/core/commerce/commerce/src/models/Order.ts
  services/core/commerce/commerce/src/models/Product.ts
  services/core/commerce/commerce/src/routes/api.ts
  services/core/commerce/commerce/src/services/ARService.ts
  services/core/commerce/commerce/src/services/CommerceService.ts
  services/core/commerce/commerce/src/services/PaymentService.ts
  services/core/commerce/commerce/src/services/ProductService.ts
  services/core/commerce/commerce/src/services/PromotionService.ts
  services/core/commerce/commerce/src/utils/Cache.ts
  services/core/commerce/commerce/src/utils/metrics.ts
  services/core/commerce/commerce/tsconfig.json
  services/core/commerce/mr-collaborative-shopping/src/core/MRCollaborativeShoppingService.ts
  services/core/commerce/mr-collaborative-shopping/src/security/SecurityService.ts
Owners: @aerofusionxr/backend-team, @aerofusionxr/tech-leads

Delete services/core/Readme.md
  services/core/Readme.md
Owners: @aerofusionxr/backend-team, @aerofusionxr/tech-leads

Create README.md
  services/core/passenger-experience/README.md
Owners: @aerofusionxr/backend-team, @aerofusionxr/tech-leads

Delete services/core/passenger-experience/README.md
  services/core/passenger-experience/README.md
Owners: @aerofusionxr/backend-team, @aerofusionxr/tech-leads

Delete services/api-gateway directory
  services/api-gateway/Dockerfile
  services/api-gateway/README.md
  services/api-gateway/app.py
  services/api-gateway/app_complete.py
  services/api-gateway/app_endpoints.py
  services/api-gateway/app_final.py
  services/api-gateway/requirements.txt
Owners: @aerofusionxr/backend-team, @aerofusionxr/infrastructure-team, @aerofusionxr/tech-leads

Delete services/baggage-tracker directory
  services/baggage-tracker/Dockerfile
  services/baggage-tracker/README.md
  services/baggage-tracker/jest.config.js
  services/baggage-tracker/k8s/deployment.yaml
  services/baggage-tracker/package.json
  services/baggage-tracker/src/algorithms/RouteOptimization.ts
  services/baggage-tracker/src/index.ts
  services/baggage-tracker/src/services/BaggageTrackingService.ts
  services/baggage-tracker/src/services/__tests__/BaggageTrackingService.test.ts
  services/baggage-tracker/src/test/setup.ts
  services/baggage-tracker/src/types/index.ts
  services/baggage-tracker/src/utils/Logger.ts
  services/baggage-tracker/src/utils/metrics.ts
  services/baggage-tracker/tsconfig.json
Owners: @aerofusionxr/backend-team, @aerofusionxr/ai-team, @aerofusionxr/tech-leads

Delete services/booking directory
  services/booking/package.json
  services/booking/src/index.ts
  services/booking/src/models/Booking.ts
  services/booking/src/models/Flight.ts
  services/booking/src/services/BookingService.ts
  services/booking/src/types/index.ts
  services/booking/src/utils/Logger.ts
  services/booking/src/utils/metrics.ts
  services/booking/src/utils/tracing.ts
  services/booking/tsconfig.json
Owners: @aerofusionxr/backend-team, @aerofusionxr/business-team, @aerofusionxr/tech-leads

Delete services/commerce directory
  services/commerce/Dockerfile
  services/commerce/README.md
  services/commerce/k8s/deployment.yaml
  services/commerce/package.json
  services/commerce/src/index.ts
  services/commerce/src/models/Cart.ts
  services/commerce/src/models/Order.ts
  services/commerce/src/models/Product.ts
  services/commerce/src/routes/api.ts
  services/commerce/src/services/ARService.ts
  services/commerce/src/services/CommerceService.ts
  services/commerce/src/services/PaymentService.ts
  services/commerce/src/services/ProductService.ts
  services/commerce/src/services/PromotionService.ts
  services/commerce/src/utils/Cache.ts
  services/commerce/src/utils/Logger.ts
  services/commerce/src/utils/metrics.ts
  services/commerce/tsconfig.json
Owners: @aerofusionxr/backend-team, @aerofusionxr/business-team, @aerofusionxr/tech-leads

Delete services/config directory
  services/config/otel-collector-config.yaml
Owners: @aerofusionxr/backend-team, @aerofusionxr/tech-leads

Delete services/customer-support directory
  services/customer-support/package.json
  services/customer-support/src/chatbot/ChatbotService.ts
Owners: @aerofusionxr/backend-team, @aerofusionxr/tech-leads

Delete services/feature-store directory
  services/feature-store/app.py
Owners: @aerofusionxr/ml-team, @aerofusionxr/data-team, @aerofusionxr/tech-leads

Delete services/flight-info directory
  services/flight-info/Dockerfile
  services/flight-info/README.md
  services/flight-info/app.py
  services/flight-info/flight_info/main.py
  services/flight-info/flight_info/models/flight.py
  services/flight-info/flight_info/models/subscription.py
  services/flight-info/flight_info/services/flight_tracker.py
  services/flight-info/flight_info/services/webhook_dispatcher.py
  services/flight-info/flight_info/utils/cache.py
  services/flight-info/flight_info/utils/logger.py
  services/flight-info/flight_info/utils/metrics.py
  services/flight-info/k8s/deployment.yaml
  services/flight-info/main.py
  services/flight-info/pyproject.toml
  services/flight-info/requirements.txt
Owners: @aerofusionxr/backend-team, @aerofusionxr/data-team, @aerofusionxr/tech-leads

Delete services/model-registry directory
  services/model-registry/app.py
Owners: @aerofusionxr/ml-team, @aerofusionxr/data-team, @aerofusionxr/tech-leads

Delete services/notifications directory
  services/notifications/README.md
  services/notifications/package.json
  services/notifications/src/core/NotificationService.ts
  services/notifications/src/providers/EmailProvider.ts
  services/notifications/src/providers/PushProvider.ts
  services/notifications/src/security/SecurityService.ts
  services/notifications/src/templates/NotificationTemplates.ts
  services/notifications/src/templates/TemplateEngine.ts
  services/notifications/src/utils/SecurityService.ts
Owners: @aerofusionxr/backend-team, @aerofusionxr/tech-leads

Delete services/recommendations-engine directory
  services/recommendations-engine/README.md
  services/recommendations-engine/package.json
  services/recommendations-engine/src/core/RecommendationEngine.ts
  services/recommendations-engine/src/core/RecommendationService.ts
  services/recommendations-engine/src/data/FeatureStoreService.ts
  services/recommendations-engine/src/ml/MLInferenceService.ts
  services/recommendations-engine/src/offers/OfferService.ts
  services/recommendations-engine/src/security/SecurityService.ts
Owners: @aerofusionxr/backend-team, @aerofusionxr/tech-leads

Add files via upload
  governance/README.md
  governance/automation/ci-cd-checks/run-bias-tests.py
  governance/automation/opa-policies/ai-governance-gates.rego
  governance/frameworks/model-card-template.md
Owners: @aerofusionxr/tech-leads, @aerofusionxr/senior-engineers

Add files via upload
  .github/workflows/ai-governance-gates.yml
Owners: @aerofusionxr/devops-team, @aerofusionxr/infrastructure-team

Add files via upload
  .github/workflows/enterprise-ci-cd.yml
  .github/workflows/quality-gates.yml
Owners: @aerofusionxr/devops-team, @aerofusionxr/infrastructure-team

Add files via upload
  governance/frameworks/dpia-template.md
  governance/roles/governance-committee-charter.md
  governance/roles/raci-matrix.md
Owners: @aerofusionxr/tech-leads, @aerofusionxr/senior-engineers

Add files via upload
  governance/IMPLEMENTATION_SUMMARY.md
  governance/README.md
  governance/automation/incident-automation.py
  governance/monitoring/enhanced-drift-detection.py
  governance/monitoring/governance-dashboard.py
  governance/policies/ai-governance-policy.md
  governance/reporting/compliance-reporter.py
  governance/requirements.txt
Owners: @aerofusionxr/tech-leads, @aerofusionxr/senior-engineers

.github/CODEOWNERS:

# üë• AeroFusionXR Code Owners
# =================================
# 
# This file defines who owns different parts of the codebase and
# who should be automatically requested for reviews when changes are made.
#
# Order is important! The last matching pattern takes precedence.

# üåê Global Owners (fallback for everything)
* @aerofusionxr/tech-leads @aerofusionxr/senior-engineers

# üìÅ Root Configuration Files
/*.md @aerofusionxr/tech-leads @aerofusionxr/documentation-team
/*.json @aerofusionxr/tech-leads @aerofusionxr/devops-team
/*.yaml @aerofusionxr/tech-leads @aerofusionxr/devops-team
/*.yml @aerofusionxr/tech-leads @aerofusionxr/devops-team
/package.json @aerofusionxr/tech-leads @aerofusionxr/frontend-team
/docker-compose*.yml @aerofusionxr/devops-team @aerofusionxr/infrastructure-team

# üîß GitHub Configuration
/.github/ @aerofusionxr/tech-leads @aerofusionxr/devops-team
/.github/workflows/ @aerofusionxr/devops-team @aerofusionxr/infrastructure-team
/.github/ISSUE_TEMPLATE/ @aerofusionxr/tech-leads @aerofusionxr/product-team
/.github/pull_request_template.md @aerofusionxr/tech-leads
/.github/SECURITY.md @aerofusionxr/security-team @aerofusionxr/tech-leads

# ‚öôÔ∏è Configuration & Infrastructure
/config/ @aerofusionxr/devops-team @aerofusionxr/infrastructure-team @aerofusionxr/tech-leads
/infrastructure/ @aerofusionxr/infrastructure-team @aerofusionxr/devops-team
/scripts/ @aerofusionxr/devops-team @aerofusionxr/infrastructure-team
/env.example @aerofusionxr/devops-team @aerofusionxr/tech-leads

# üß™ Testing & Quality Assurance
/tests/ @aerofusionxr/qa-team @aerofusionxr/tech-leads
/tests/performance/ @aerofusionxr/qa-team @aerofusionxr/performance-team
/tests/security/ @aerofusionxr/security-team @aerofusionxr/qa-team
/tests/e2e/ @aerofusionxr/qa-team @aerofusionxr/frontend-team
/jest.config.js @aerofusionxr/qa-team @aerofusionxr/tech-leads
/playwright.config.ts @aerofusionxr/qa-team @aerofusionxr/frontend-team

# üéØ Services (Backend)
/services/ @aerofusionxr/backend-team @aerofusionxr/tech-leads

# API Gateway
/services/api-gateway/ @aerofusionxr/backend-team @aerofusionxr/infrastructure-team @aerofusionxr/tech-leads

# AI & ML Services
/services/ai-concierge/ @aerofusionxr/ai-team @aerofusionxr/ml-team @aerofusionxr/tech-leads
/services/model-registry/ @aerofusionxr/ml-team @aerofusionxr/data-team @aerofusionxr/tech-leads
/services/feature-store/ @aerofusionxr/ml-team @aerofusionxr/data-team @aerofusionxr/tech-leads

# Data Services
/services/baggage-tracker/ @aerofusionxr/backend-team @aerofusionxr/ai-team @aerofusionxr/tech-leads
/services/flight-info/ @aerofusionxr/backend-team @aerofusionxr/data-team @aerofusionxr/tech-leads

# Business Services
/services/booking/ @aerofusionxr/backend-team @aerofusionxr/business-team @aerofusionxr/tech-leads
/services/commerce/ @aerofusionxr/backend-team @aerofusionxr/business-team @aerofusionxr/tech-leads
/services/wayfinding/ @aerofusionxr/backend-team @aerofusionxr/ai-team @aerofusionxr/tech-leads

# üì± Client Applications
/clients/ @aerofusionxr/frontend-team @aerofusionxr/mobile-team @aerofusionxr/tech-leads

# Web Client
/clients/web/ @aerofusionxr/frontend-team @aerofusionxr/ux-team @aerofusionxr/tech-leads
/clients/web/src/components/ @aerofusionxr/frontend-team @aerofusionxr/ux-team
/clients/web/src/pages/ @aerofusionxr/frontend-team @aerofusionxr/ux-team
/clients/web/src/hooks/ @aerofusionxr/frontend-team @aerofusionxr/tech-leads
/clients/web/src/utils/ @aerofusionxr/frontend-team @aerofusionxr/tech-leads

# Mobile Client
/clients/mobile/ @aerofusionxr/mobile-team @aerofusionxr/ux-team @aerofusionxr/tech-leads
/clients/mobile/ios/ @aerofusionxr/mobile-team @aerofusionxr/ios-team
/clients/mobile/android/ @aerofusionxr/mobile-team @aerofusionxr/android-team

# Kiosk Client
/clients/kiosk/ @aerofusionxr/frontend-team @aerofusionxr/kiosk-team @aerofusionxr/tech-leads

# XR Clients
/clients/xr/ @aerofusionxr/xr-team @aerofusionxr/ar-team @aerofusionxr/tech-leads
/clients/ar-app/ @aerofusionxr/ar-team @aerofusionxr/mobile-team @aerofusionxr/tech-leads

# üìä Documentation
/docs/ @aerofusionxr/documentation-team @aerofusionxr/tech-leads
/docs/api/ @aerofusionxr/backend-team @aerofusionxr/documentation-team
/docs/architecture/ @aerofusionxr/tech-leads @aerofusionxr/documentation-team
/docs/deployment/ @aerofusionxr/devops-team @aerofusionxr/documentation-team
/README.md @aerofusionxr/documentation-team @aerofusionxr/tech-leads

# üîí Security & Compliance
/security/ @aerofusionxr/security-team @aerofusionxr/tech-leads
/compliance/ @aerofusionxr/compliance-team @aerofusionxr/security-team
/SECURITY.md @aerofusionxr/security-team @aerofusionxr/tech-leads

# üì¶ Database & Migrations
/database/ @aerofusionxr/data-team @aerofusionxr/backend-team @aerofusionxr/tech-leads
/migrations/ @aerofusionxr/data-team @aerofusionxr/backend-team @aerofusionxr/tech-leads
/seeds/ @aerofusionxr/data-team @aerofusionxr/backend-team

# üé® Design & Assets
/assets/ @aerofusionxr/design-team @aerofusionxr/ux-team
/public/ @aerofusionxr/frontend-team @aerofusionxr/design-team
/static/ @aerofusionxr/frontend-team @aerofusionxr/design-team

# üõ†Ô∏è Development Tools
/.vscode/ @aerofusionxr/tech-leads
/.eslintrc* @aerofusionxr/frontend-team @aerofusionxr/tech-leads
/.prettierrc* @aerofusionxr/frontend-team @aerofusionxr/tech-leads
/tsconfig*.json @aerofusionxr/frontend-team @aerofusionxr/mobile-team @aerofusionxr/tech-leads
/babel.config.js @aerofusionxr/frontend-team @aerofusionxr/mobile-team
/webpack.config.js @aerofusionxr/frontend-team @aerofusionxr/devops-team
/vite.config.ts @aerofusionxr/frontend-team @aerofusionxr/devops-team

# üöÄ Deployment & Release
/Dockerfile* @aerofusionxr/devops-team @aerofusionxr/infrastructure-team
/kubernetes/ @aerofusionxr/infrastructure-team @aerofusionxr/devops-team
/helm/ @aerofusionxr/infrastructure-team @aerofusionxr/devops-team
/terraform/ @aerofusionxr/infrastructure-team @aerofusionxr/devops-team
/CHANGELOG.md @aerofusionxr/tech-leads @aerofusionxr/product-team

# üìà Monitoring & Analytics
/monitoring/ @aerofusionxr/devops-team @aerofusionxr/data-team
/analytics/ @aerofusionxr/data-team @aerofusionxr/analytics-team

# üåç Internationalization
/locales/ @aerofusionxr/i18n-team @aerofusionxr/frontend-team
/translations/ @aerofusionxr/i18n-team @aerofusionxr/frontend-team
